

.tag-over-text {
  &__container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 3px;
  }

  &__file-name {
    margin-bottom: 0;
    margin-top: 3%;
  }

  &__labels-list {
    width: 30%;
  }

  &__annotation-zone {
    width: 70%;
  }
}
