.af-panel--new-group {

  .af-panel {
    &__content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
    }
  }

  .af-btn--confirm {
    height: 3em;
    margin-left: 2rem;
  }
}