.image-classifier{
  justify-content: center;
  text-align: center;
  width:100%;
  &--inline-mode{
    display: flex;
  }
  &__image-container{
    display: flex;
    justify-content: center;
    width:100%;
    align-items: center;
  }
  &__image{
    width: 80%;
  }
  &__buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1em;
    &--inline-mode{
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
  &__button-container{
    margin-top: 3em;
    flex: 1 0 21%;
    &--inline-mode{
      margin-top: 1em;
      flex: none;
    }
  }
}
