.ocr-container {
  margin-top: 25px;
  margin-bottom: 70px;
  padding: 0 10px;
  text-align: center;

  &--inline-mode {
    display: flex;
    width: 100%;
  }
}

.ocr-container__image {
  height: 100%;
  border: 1px dotted #212121;
}

.ocr-container__labels--inline-mode {
  min-width: 20%;
  max-width: 50%;
  margin-left: 10px;
}
