@import '@axa-fr/react-toolkit-form-filter-inline/dist/filter-inline.scss';

.af-btn {
  &--quote {
    margin-bottom: 1em;
  }
  &--locked {
    background-color: green;
  }
}

.row--datasets-filters {
  padding-bottom: 1.5rem;
}
