.label {
  &__container {
    display: flex;
    width: 100%;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__element {
    margin: 5px 10px 5px 0;
    border: 1px solid;
    cursor: pointer;
    font-size: 25px;
    padding: 1px 10px;
    position: relative;
    border-radius: 5px;
    color: #4b4848;
  }
}