.token-mark {
  display: inline;
  padding: 4px 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  -webkit-box-decoration-break: clone;

  &__text {
    margin: 0 2px;
    display: inline-block;
  }

  &__tag {
    font-size: 0.6em;
    font-weight: bold;
    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    position: absolute;
    margin-left: 1px;
  }

  &__close-button {
    top: -9px;
    left: -9px;
    color: #fff;
    width: 18px;
    height: 18px;
    display: block;
    opacity: 1;
    position: absolute;
    font-size: 0.95em;
    transition: opacity 0.1s ease;
    background: #444;
    text-align: center;
    line-height: 1.1;
    font-family: sans-serif;
    border-radius: 50%;
    padding-top: 6px;
  }
}