@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.home {
  &__links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__link-container {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color: #00008f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    text-align: center;
    transition: 0.3s;
    &--projects {
      background-color: $color-sante;
    }
    &--datasets {
      background-color: $color-epargne;
    }
    &--groups {
      background-color: $color-habitation;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__link {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    &:hover {
      color: #FFFFFF;
    }
  }
}
