.annotation{
  &__top-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
    margin: 10px 0 10px 0;

    &-text{
      font-weight: bold;
      font-size: 1.1em;
    }
    
  }
}