.table-result {
  display: flex;
  flex-wrap: wrap;

  &__header {
    width: 100%;
    background-color: #3032C1;
    color: white;
  }
}

.error-message {
  width: 100%;
  text-align: center;
  color: red;
}