.table-result {
  display: flex;
  margin-bottom: 1em;
  padding-bottom: 1em;
  flex-wrap: wrap;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  &__header {
    width: 100%;
    background-color: #3032C1;
    color: white;
    padding: 5px 0 0 15px;
  }
}

.error-message {
  width: 100%;
  text-align: center;
  color: red;
}