.home {
  &__links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__link-container {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color: #00008f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    text-align: center;
    transition: 0.3s;
    &--compare {
      background-color: #6377ba;
    }
    &--annotate {
      background-color: #6c3c93;
    }
    &--gallery {
      background-color: #0d844e;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__link {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    &:hover {
      color: #FFFFFF;
    }
  }
}
